<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
  </head>
  <body class="font-monospace">
    <nav
      class="bg-success text-light d-flex justify-content-between align-items-center py-2 px-2"
    >
      <div><h1>LOGO</h1></div>

      <div class="d-flex gap-5">
        <a href="/" class="text-light">Home</a>
        <a href="/about" class="text-light">About</a>
        <a href="" class="text-light">Contact Us</a>
        <a href="/allStudents" class="text-light">Students</a>
      </div>

      <div>
        <button class="btn btn-light text-success rounded-md">Sign In</button>

        <button class="btn btn-light text-success rounded-md">Register</button>
      </div>
    </nav>
  </body>
</html>
