<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/user/forgotPass/<%= email %>" method="post">
        <input type="email" name="email" id="" placeholder="email"><br>
        <input type="text" name="otp" id="" placeholder="otp"><br>
        <input type="text" name="newPassword" id="" placeholder="newPassword"><br>

        <button type="submit">change password</button>
    </form>
</body>
</html>